<div class="nav-container">
  <!-- <div [class.hide-search]="!search" [class.show-search]="search">
  </div> -->
  <!-- <mat-toolbar color="primary" [class.hide-tollbar]="search"> -->
  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!search">
      <header class="flex-container">
        <h1>tv-app</h1>
        <nav *ngIf="showActionIcons"></nav>
        <div *ngIf="showActionIcons" class="search" (click)="search=true"><i class='material-icons'>search</i></div>
      </header>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="search">
      <app-search (termSearchEmiiter)="searchTerm($event)" (closeEmiiter)="search=false"></app-search>
    </mat-toolbar-row>
  </mat-toolbar>
</div>