<div class="nav-container">
  <mat-toolbar color="primary" *ngIf="!search">
    <mat-toolbar-row >
      <header class="flex-container">
        <h1><img src="/assets/images/logo.png"></h1>
        <nav *ngIf="showActionIcons"></nav>
        <div *ngIf="showActionIcons" class="search" (click)="search=true"><i class='material-icons'>search</i></div>
      </header>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-search *ngIf="search" (termSearchEmiiter)="searchTerm($event)" (closeEmiiter)="search=false"></app-search>
</div>