<app-nav [showActionIcons]="true" (searchEmitter)="searchMovies($event)"></app-nav>
<p-messages [(value)]="messages"></p-messages>
<div class="movies-management-container">
  <section>
    <div class="actions">
      <button mat-mini-fab color="accent">
        <mat-icon color="primary">add</mat-icon>
      </button>
    </div>
  </section>
  <section>
    <div *ngIf="!loading" class="movies-management">
      <ul>
        <li *ngFor="let movie of movies">
          <div #actualTarget>
            <movie-card (hided)="hide($event)" *ngIf="movie.Poster != 'N/A'" (click)="open($event,movie,op)"
              [movie]="movie" [d]="movie?.showd"></movie-card>
          </div>
        </li>
      </ul>
    </div>
    <app-loader *ngIf="loading"></app-loader>
  </section>
</div>
<!-- details popup -->
<p-overlayPanel #op>
  <i class='material-icons' (click)="hide($event,selectedMovie,op)">close</i>
  <h1 class='title'>{{selectedMovie?.Title | friendlyTitle}}</h1>
  <h4>{{selectedMovie?.Year}}</h4>
  <div class="details">
    <div>
      <p>Director</p>
      <span>{{selectedMovie?.Director}}</span>
    </div>
    <div>
      <p>Runtime</p>
      <span>{{selectedMovie?.Runtime}}</span>
    </div>
    <div>
      <p>Genre</p>
      <span>{{selectedMovie?.Genre}}</span>
    </div>
    <button mat-mini-fab color="accent" (click)="edit=true">
      <mat-icon color="primary">edit</mat-icon>
    </button>
  </div>
</p-overlayPanel>