<app-nav [showActionIcons]="true" (searchEmitter)="searchMovies($event)"></app-nav>
<p-messages [(value)]="messages" severity="info"></p-messages>
<div class="movies-management-container">
  <section>
    <div class="actions">
      <button mat-mini-fab color="accent" (click)="add=true">
        <mat-icon color="primary">add</mat-icon>
      </button>
    </div>
  </section>
  <section>
    <div *ngIf="!loading" class="movies-management">
      <ul>
        <li *ngFor="let movie of movies">
          <div #actualTarget>
            <movie-card (OnDetailsHidden)="hideDetails($event)" (OnDetailsUpdated)="updateMovie($event)" (OnDeleted)="deleteMovie($event)"
              *ngIf="movie.Poster != 'N/A'" (click)="displayDetails(movie)" [movie]="movie" [displayDetails]="movie?.displayDetails"></movie-card>
          </div>
        </li>
      </ul>
    </div>
    <app-loader *ngIf="loading"></app-loader>
  </section>
</div>
<!-- add movie popup -->
<p-sidebar blockScroll="true" [(visible)]="add" position="right" styleClass="ui-sidebar-md" [baseZIndex]="10000">
  <save-movie 
   *ngIf="add" 
   (movieClosed)="add=false"
   (movieAdded)="add=false;addMovie($event)"></save-movie>
</p-sidebar>