<app-nav></app-nav>
<div class="movie-details-container">
    <i class='material-icons pointer' (click)="close()">arrow_back_ios</i>
    <div class="movie-details-card">
        <div class="card" [class.mobile]="mobileQuery.matches">
            <section class="movie-image">
                <img class="movie-poster" [src]="movie.Poster">
            </section>
            <section class="movie-dtails">
                <div class='card-body'>
                    <h3>{{movie.Title}}</h3>
                    <div class="movie-info">
                        <p>{{movie.Year}}</p>
                        <p>{{movie.Runtime}}</p>
                        <p>{{movie.Type}}</p>
                    </div>
                    <div class="movie-desc">
                        <p>{{movie.Plot}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>