<div class="save-movie-container">
  <header>
    <div class="movie-img">
      <img *ngIf="!editMode" src="/assets/images/poster.jpg">
      <img *ngIf="editMode" [src]="movie?.Poster">
    </div>
    <div class="title">
      <h3 *ngIf="!editMode"><span>New Movie</span></h3>
      <h3 *ngIf="editMode"><span>{{movie.Title | friendlyTitle}}</span></h3>
    </div>
  </header>
  <form [formGroup]="movieFormGroup">
    <div class="save-container">

      <mat-form-field color="accent">
        <input matInput placeholder="Title" formControlName="Title">
        <mat-error *ngIf="movieFormGroup.get('Title')?.errors?.required">
          Title is missing
        </mat-error>
        <div class="error" [class.show]="movieFormGroup.get('Title')?.hasError('pattern')">
          * Title can contain only strings
        </div>
        <mat-error *ngIf="duplicate">This title already exsist</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Year" formControlName="Year">
        <mat-error *ngIf="movieFormGroup.get('Year')?.errors?.required">
          Year is missing
        </mat-error>
        <div class="error" [class.show]="movieFormGroup.get('Year')?.hasError('pattern')">
          *Year can be only numbers
        </div>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Director" formControlName="Director">
        <mat-error *ngIf="movieFormGroup.get('Director')?.errors?.required">
          Director is missing
        </mat-error>
        <div class="error" [class.show]="movieFormGroup.get('Director')?.hasError('pattern')">
          *Runtime can contain only text
        </div>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Runtime" formControlName="Runtime">
        <mat-error *ngIf="movieFormGroup.get('Runtime')?.errors?.required">
          Runtime is missing
        </mat-error>
        <div class="error" [class.show]="movieFormGroup.get('Runtime')?.hasError('pattern')">
          *Runtime can contain only numbers
        </div>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Genre" formControlName="Genre">
        <mat-error *ngIf="movieFormGroup.get('Genre')?.errors?.required">
          Genre is missing
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="actions">
    <button mat-stroked-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" [disabled]="movieFormGroup.invalid" (click)="save()">Save</button>
  </div>
</div>