<div class="save-movie-container">
  <header>
    <h4 class="title" style="font-weight:normal">Edit: {{movie.Title}}</h4>
  </header>
  <form action="">
    <div class="example-container">
      <mat-form-field color="accent">
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button color="primary">Save</button>
  <button mat-stroked-button>Close</button>
</div>