.save-movie-container {
    margin: 1rem;

    header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px;
        justify-content: space-between;
        margin-bottom: 5px;

        .movie-img{
            opacity: 0.8;
            width: 19em;
            margin-right: 0.4rem;
    
            img {
                width: 100%;
                height: 90%;
            }
        }
        .title {
            width: 19em;
        };
    }
    .actions {
        text-align: right;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}