<div class="save-movie-container">
  <header>
    <div class="movie-img">
      <img [src]="movie.Poster">
    </div>
    <div class="title">
      <h3><span>{{movie.Title}}</span></h3>
    </div>
  </header>
  <form [formGroup]="movieFormGroup">
    <div class="save-container">

      <mat-form-field color="accent">
        <input matInput placeholder="Title" formControlName="Title">
        <mat-error *ngIf="movieFormGroup.get('Title')?.errors?.required">
          Title is missing
        </mat-error>
        <mat-error *ngIf="movieFormGroup.get('Title')?.errors?.pattern">
          Title can contain only strings
        </mat-error>
        <!-- <mat-error *ngIf="movieFormGroup.get('Title')?.errors?.notUnique">Title exssit</mat-error> -->
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Year" formControlName="Year">
        <mat-error *ngIf="movieFormGroup.get('Year')?.errors?.required">
          Year is missing
        </mat-error>
        <mat-error *ngIf="movieFormGroup.get('Year')?.errors?.pattern">
          Year can be only number
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Director" formControlName="Director">
        <mat-error *ngIf="movieFormGroup.get('Director')?.errors?.required">
          Director is missing
        </mat-error>
        <mat-error *ngIf="movieFormGroup.get('Director')?.errors?.pattern">
          Director can contain only strings
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Runtime" formControlName="Runtime">
        <mat-error *ngIf="movieFormGroup.get('Runtime')?.errors?.required">
          Runtime is missing
        </mat-error>
        <mat-error *ngIf="movieFormGroup.get('Runtime')?.hasError('pattern')">
          Runtime can contain only numbers
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="text" placeholder="Genre" formControlName="Genre">
        <mat-error *ngIf="movieFormGroup.get('Genre')?.errors?.required">
          Genre is missing
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="actions">
    <button mat-stroked-button (click)="save()">Close</button>
    <button mat-raised-button color="primary" [disabled]="movieFormGroup.invalid" (click)="save()">Save</button>
  </div>
</div>