@import "variables";
@import "components";

html,body {
   
    margin: 0;
    padding: 0;
    text-align: if( $direction, left,right);
    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
    min-width: 100%;
    font-size: 14px;
    direction: $direction;
    line-height: 1.42857143;
    outline: none !important;
    height: 100%;

    .title {
        font-size: 1.4rem;
        font-style: inherit;
        font-family: inherit;
        font-weight: 700;
    }
}


.main-container {
    position: relative;
    padding: 0 100px;
    clear: both;
    overflow: hidden;
}

.app-container {
    width: 100%;
    position: relative;
    padding: 0 100px;
    clear: both;
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

// .ui-sidebar {
//     background: #344955 !important;
//     color: white !important;
// }
// .mat-form-field-label {
//     color: white !important;
// }

// .mat-form-field-underline {
//     color: white !important;
// }